* { font-family: ibm; }

@font-face {
    font-family: ibm;
    src: url(font/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}

@font-face {
    font-family: ibm-bold;
    src: url(font/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
}

.pgt {
    font-size: 28;
}

.subt {
    font-size: 20;
}

.tx {
    font-size: 16;
}

.bold { font-family: ibm-bold; font-weight: 800; }

.code {
    font-family: monospace;
    border: 1px solid gainsboro;
    background-color: lightgray;
    width: fit-content;
    display: inline-block;
    padding: 1 5 1 5;
}

.code-block {
    font-family: monospace;
    border: 1px solid gainsboro;
    background-color: lightgray;
    width: 100%;
    padding: 1 5 1 5;
}